.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  background-image: linear-gradient(rgb(23, 23, 23), rgb(49, 49, 49), rgb(60, 60, 60));
  color: #ffff;
  padding: 20px;
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -1px 11px 1px rgba(0,0,0,0.89);
  -webkit-box-shadow: 0px -1px 11px 1px rgba(0,0,0,0.89);
  -moz-box-shadow: 0px -1px 11px 1px rgba(0,0,0,0.89);
}

.logo {
  font-size:xx-large;
}

.listaNavbar {
  width: 50rem;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-style: italic;
}

.itemsListaNavbar {
  list-style: none;
  border: 1px inset white;
  padding: 10px;
  cursor: pointer;
}

.carrito {
  cursor: pointer;
  font-size: larger;
  padding-right: 10px;
}

.itemListContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #3c4ca4;
  color: black;
  font-size: 45px;
  text-align: center;
  padding-top: 25px;
}
